*.class

# Package Files #
*.jar
*.war
*.ear
*.versionsBackup


*.iml
.idea/
target/
logs/
log/

# Eclipse project files #
.settings
.project
.classpath
target

# STS #
.apt_generated
.factorypath
.springBeans
